
*.o
*.exe
*.docx
4_vdc.pdf
Diagramme algo genetique.odt
Sans_nom_1.odg
Untitled Diagram.pdf
.vs/voyageur_du_commerce/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.idb
*.enc
*.tlog
*.pdb
*.recipe
*.ilk
*.log
*.sln
Debug/voyageur_du_commerce.vcxproj.FileListAbsolute.txt
*.filters
*.vcxproj
*.user
